html{
    box-sizing: border-box;
   
}
*, *::before, *::after{
    box-sizing: inherit;
}
#container{
    width:1350px;
    margin:auto;
}
#body{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

hr{
   width:1300px;
   height: 1px;
   background: #000000;
}

/* ///////////////// */
/* HEADER AND SEARCH */
/* ///////////////// */


#bar{
    display: flex;
    background: white ;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}
#et a:link{
    text-decoration: none;
    color: #ec531c;
    font-size: 40px;
    margin: 0 10px 0 0px;
    font-weight: 100;
}

#searchBar{
    background: #e5e5e5;
    height: 50px;
    width: 825px;
    margin:0px 5px;
    align-self: center;
    color:black;
    border-radius: 35px;
    font-size: 18px;
    text-indent: 20px;
    outline: none;
    border: 1px solid lightgrey;
}
#searchBar:focus{
   border:1px black solid;
   background: white;
    transition: 0.3s ease-in-out 
}
#sideIcons{
    display: flex;
    justify-content: flex-end;
    margin: auto; 
    align-items: center;
    padding:0px 0px 0 30px;
}

#sell, #reg{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 0px 6px;
}
a:link,a:visited{
    color: black;
    text-decoration: none;
}
#sign{
    margin: 0 15px;
    background: none;
    width: 75px;
    height: 35px;
    font-size: 16px;
    border: solid 1px black;
    border-radius: 3px;
    color: white;
}

#carthop{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 5px;
    border-left: 1px solid #eeeeee; 
}
#carthop:hover{
    color: grey;
}
#cart{
margin: 0;
 width: 23px;
 height:23px;
 align-self: auto;
}
#car{
    margin:0;
    align-self: auto;
}
.carlink:link{
    text-decoration: none;
    color:#5b5b5b;
}

#cart:hover{
    color: #000000;

}
#check1{
    align-items: center;
}

/* ////////////////// */
/* SUB MENU & BUBBLES */
/* ////////////////// */


#subMenu p:hover {
    text-decoration: underline;
}

#subMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #000000;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#subMenu  p{
    padding: 0px 18px;
    margin: 0px 5px;
}

#subMenu a:link{
    text-decoration: none;
    color: #000000;
}
#gift{
    padding: 3px;
    font-size: 15px;
    margin: 0;
}
.wc,.wg,.wb,.ws,.wst,.w,.s,.wd,.b,.be{
    margin: 0px 5px 0 0;
    background: #f7936f; 
    border-radius: 30px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 13px;
}
#bubblelist{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
}
#bubblelist a:link{
    text-decoration: none;
    color: black;
}
#bubblelist li:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
    text-decoration: none;
    cursor: pointer;

}

/* ASIDE COLUMN  */
/* ///////////// */
/* ////////////// */

 #cata{
    margin: 0;
}

h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cats li{
    padding: 4px 0px;
    color: black;
    font-family: Helvetica, Arial, sans-serif ;
    font-size: 14px;
    margin: 0px 25px;
    font-weight: 200;
}
li{
    list-style: none;
}
#cats li:hover, #sp li:hover, #ship li:hover, #mats li:hover, #colors li:hover,#personalize li:hover,#occasions li:hover, #holidays li:hover{
    text-decoration: underline;
}
ul{
    padding: 0px;
    color: #000000;
}
label{
    font-size: 13px;
    padding: 1px;
    font-family: Helvetica, Arial, sans-serif ;
    color: black;
    font-weight: 100;
}
#cats a:link, #sp a:link, #ship a:link, #mats a:link, #colors a:link, #personalize a:link, #occasions a:link, #holidays a:link,#location a:link, #prices a:link, #ordering a:link, #shipped a:link{
    text-decoration: none;
    color: #000000;
    
}
#cata{
    margin: 0;
    align-items: flex-start;
    cursor: pointer;
}
#cata li{
    align-items: center;
    font-size: 15px;
}

#plus a:link{
    text-decoration: none;
}
h5{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif ;
    font-weight: 500;
    font-size: 15px;
    padding: 2px 0;
}
#low,#high{
    width: 50px;
    height: 30px;
    border-radius: 4px;   
    border: 1px solid #dedede;
}
#low:hover, #high:hover{
    border: black 1px solid;
    transition: 0.5s ease-in-out border;
}

label{
    align-content: center;
}
#shipbar{
    display: flex;
    width: 200px;
    height: 30px;
    background: none;
}
#shipbar li:hover{
    border: solid 2px black;
}
#location{
    display:flex;
    height:30px;
    border-radius: 4px;
}
#location:hover{
    border:1px solid black;
}

#cus:hover{
    text-decoration: none;
}
.chevron{
    display: inherit;
}
input[type=checked]{
    zoom: 1.4;
    outline: 3px solid grey;
}
ul #shipped{
    text-decoration: none;
}
#shipbar:hover{
    border: 1px solid black;
}

/* ///////// */
/* MAIN BODY */
/* ///////// */

main{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 15px;
}
.products{
    cursor: pointer;
    display: grid;
}
.products img{
    width: 100%;
}
#allproducts:hover{
    text-decoration: none;
}
.products h3{
    margin:0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.products p {
    margin: 0;
}
.descr{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.price{
    font-size: 18px;
    font-weight: 700;
}
.productlist{
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
   
}
.productlist .javaimg{
    width: 250px;
    height: 225px;
    display: flex;
    flex-direction: row;
   
}
#heart a{
    color: white;
    border:none;
}
#fullheart:hover #heart{
    display: block; 
}
.productlist #heart{
    position: absolute;
    top: 10px;
    right: 25px;
    background: none;
    display: none;
}
.hearta{
    font-size: 25px;
}
li #evenmore .specific:hover{
    text-decoration: none !important;
}
.rating{
    width:105px;
    height: 20px;
    background: url(./assets/oZ9Id.png);
}
.rate{
    width:105px;
    height:20px;
    background: url(./assets/oZ9Id.png);
    background-position: 0px -20px;
    display: block;

}
.javaimg::after{
    content: "";
    z-index: -1;
    box-shadow: 0px 10px 20px 10px #5b5b5b;
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* DROP DOWN UNDER SEARCH BAR */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\ */
.jewelerydropdown #chevy{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 0;
    padding: 0;
}
.jewelerydropdown{
    float: left;
    overflow: hidden;
    align-content: center;
    translate: 2s all;
}

.dropcontent{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 860px;
    padding: 12px 16px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
    z-index: 1;
}

.jewelerydropdown:hover .dropcontent{
    display: block;
}
.dropcontent a {
    color:black;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 375px;
}
.jewelerydropdown:hover .jewlery{
    background-color: white;
}
.dropcontent a:hover{
    background-color: #e7e7e7;
}
.dropcontent .dbJewlery{
    font-weight: 600;
}
.dropcontent .dbJewlery a{
    font-weight: 100;
}

/* //////////////////////// */
/* Inside Jewlery Drop Down */
/* //////////////////////// */

.accsub{
    font-size: 13px;
    font-weight: 200;
}
.accheads{
    font-size:17px;
    padding: 10px 0px;
    margin:  0 0 4px 0;
}
#necks, #rings, #bags, #sories, #earring{
    display: none;
    position: absolute;
    background-color: white;
    padding: 12px 16px;
    z-index: 1;
}
#accflex{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: flex-end;
    
}

#acccatagories:hover #sories{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 375px;
    top:15px;
}
#sories a{
    color:black;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#bagstab:hover #bags{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 375px;
    top:15px;
}
#bags a{
    color:black;
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
}

#neck:hover #necks{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 375px;
    top:15px;
}
#necks a{
    color:black;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#ring:hover #rings{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 375px;
    top:15px;
}
#rings a{
    color:black;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#earring:hover #earrings{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 375px;
    top:15px;
}
#earrings a{
    color:black;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}